*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}


.container{
    background-color:white;
    border-radius: 14px;
    box-shadow: 2px 2px 30px  hsl(220, 15%, 55%);
    padding: 18px;
    margin:0 auto;
    max-width: 20rem;
}

 img{
    width:100%;
    border-radius: 16px;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-top: 1em;
}

.header{
    margin: 20px 0px 0px 0px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 120%;
    font-size: 1.29rem;
    padding: 0px 20px 20px; 
}

.text{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    line-height: 88%;
    font-size: 0.99rem;
    padding: 10px 20px 20px 20px;
}


@media (max-width:375px){
    
    .container{
        width:90%;
        height:auto;
        padding:0.75rem;
    }
    .heading{
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem 0.91rem;
    }
    .text{
        font-size: 0.8;
        padding:0.3rem 0.6rem 0.91rem;
    }
}
   

.footer {
    font-size: 0.8rem;
    text-align: center;
    max-width: 40ch;
    padding-top: 0.2rem;
  }
  .footer a {
    color: rgb(75, 75, 182);
  }
